
.Name{
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 1rem;
}

.titulo-name{
  margin: 1rem 0;
}

input {
  border: 2px solid #dddddd !important;
  background-color: #f0f0f0 !important;
  height: 50px;
}

input::placeholder {
  color: black !important;
}

input:focus {
  box-shadow: none !important;
}